/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal CSS Reset */
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
 
  color: white;
}
